*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

a{
  text-decoration: none;
  color: #000;
}

ul{
  list-style: none;
}

time{
  color: #6B6D97;
  font-size: 14px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header{
  background-color: #F6F6F9;
}

.site-header-top{
  display: flex;
  align-items: center;
  padding-top: 44px;
}

.site-logo{
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}

.valyutalar{
  margin-left: 17px;
  color: #7A7A7A;
}

.valyutalar span{
  color: #285193;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-right: 5px;
  margin-left: 10px;
}

.site-top-right-side{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-area{
  display: flex;
  align-items: center;
}

.search-input{
  border: none;
  outline: none;
  padding: 8px 0;
  border-radius: 5px;
}

.search-input:focus{
  border-bottom: 3px solid #555;
}

.search-btn{
  background-color: #fff;
  padding: 8px 8px 3px 8px;
  border: none;
  margin:0 10px;
  border-radius: 5px;
}

.lang-select{
  padding: 7px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
}

.telegram-link{
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 11px 12px 8px 10px;
  background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.telegram-link span{
  margin-left: 10px;
}

/* NAV */

.navbar{
  background-color: #fff;
  margin-top: 50px;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
}

.nav-links{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nav-link{
  padding: 21px 25px 22px 24px;
}

.nav-link a{
  font-size: 15px;
  line-height: 23px;
  color: #515151;
  font-weight: 500;
}

.add-section{
  margin-top: 18px;
  margin-bottom: 23px;
  display: inline-block;
}

.add-section img{
  width: 100%;
  height: auto;
}

/* MAIN */

.main-section{
  display: flex;
  justify-content: space-between;
}

.form{
  display: flex;
  flex-direction: column;
  width: 600px;
}

.form-theme{
  margin: 18px 0;
  padding: 5px;
}

.form-group{
  display: flex;
}

.form-group span{
  font-size: 23px;
  margin: 12px 0 0 15px;
}

.form-control{
  padding: 15px;
  background-color: #F1F1F1;
  opacity: 0.3;
  border: 2px solid #285193;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 21px;
}

.text-area{
  resize: vertical;
  padding: 15px;
  background-color: #F1F1F1;
  opacity: 0.3;
  border: 2px solid #285193;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 21px;
}

.select-file{
  border: none;
  background-color: transparent;
  margin-bottom: 21px;
  width: 221px;
  height: 50px;
}

.form-control-code{
  width: 221px;
  padding: 15px;
  background-color: #F1F1F1;
  opacity: 0.3;
  border: 2px solid #285193;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 21px;
}

.form-control-code:after{
  content: "4 k 7 Z a";
  font-size: 18px;
}

.otpravit-button{
  margin-bottom: 50px;
  background-color: #295093;
  border: 2px solid rgba(40, 81, 147, 0.54);
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  width: 221px;
  height: 50px;
}

/* MAIN-RIGHT-SIDE */

.main-right-side{
  width: 510px;
  height: 280px;
  margin-top: 59px;
  background-color: #fff;
  border: 2px solid #BCC3CD;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0px 8px 9px rgba(57, 57, 57, 0.25);
}

.namanganliklar24{
  display: flex;
  justify-content: flex-end;
  padding: 7px;
  margin-bottom: 21px;
}

.email{
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}

.sotsialniy-seti{
  display: flex;
}

.icons{
  margin-left: auto;
  margin-bottom: 18px;
}

.icons a{
  margin-left: 8px;
}

.telegram-kanal{
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.telegram-kanal a{
  background-color: #295091;
  width: 150px;
  height: 33px;
}

.mobile-apps{
  display: flex;
  justify-content: space-between;
}

.mobile-apps-photos{
  margin-left: auto;
}

.mobile-apps-photos{
  margin-right: 10px;
  border-radius: 10px;
}

/* FOOTER */


.site-footer{
  background-color: #295093;
  color: #fff;
}

.footer-top-section{
  display: flex;
  align-items: center;
  padding-top: 22px;
  margin-bottom: 41px;
}

.footer-logo{
  background-color: #133C82;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  padding: 11px 12px 6px 9px;
  margin-right: 198px;
}

.footer-top-section p{
  font-size: 14px;
  margin-right: 20px;
}

.footer-tg-link{
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px 16px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  color: #295093;
}

.footer-tg-link img{
  margin-right: 5px;
}

.footer-bottom-side{
  color: #fff;
  display: flex;
  padding-bottom: 30px;
}

.box-1{
  width: 365px;
  margin-right: 111px;
}

.box-1 h4{
  margin-bottom: 10px;
}

.box-1 p{
  letter-spacing: 1px;
  line-height: 1.2;
}

.box-2{
  width: 163px;
  margin-right: 112px;

}

.box-2 a{
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
}

.box-3{
  width: 225px;
}

.box-3 a{
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
}


    /* CARONA VIRUS SECTION  */


.virus-info{
  display: flex;
  justify-content: space-evenly;
  background-color:  #F6F6F9;
  padding: 30px 35px;
  margin-top: 35px;
  border-radius: 5px;
}

.virus-info-item{
  display: flex;
  align-items: center;
  line-height: 25px;
}

.virus-info-item img{
  margin-right: 25px;
}

.virus-number{
  font-size: 25px;
  color: #000;
}

.bold-text{
  font-size: 20px;
  color: #000;
}

.red-text{
  color: #DB0000;
  font-size: 18px;
  border-left: 1px solid #DB0000;
  border-right: 2px solid #F4CCD1;
  padding-right: 30px;
}

.red-text img{
  margin-left: 30px;
}

.green-text{
  color: #05B135;
  font-size: 18px;
  border-right: 2px solid #F4CCD1;
  padding-right: 30px;
}

.black-text{
  color: #000;
  font-size: 18px;
}


        /* HOME PAGES */
        /* MAIN-TOP-NEWS */

.main-top-news{
  display: flex;
  flex-wrap: wrap;
}

.news-items{
  width: 30%;
  margin: 20px 40px 0 0;
}

.news-items h4{
  font-weight: 600;
  font-size: 17px;
  padding: 10px 0;
}


/* SECTION NOTIFICATIONS */

.main-notification{
  display: flex;
  justify-content: space-between  ;
  background-color: rgba(239, 186, 84, 0.18);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 33px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.notification-text{
  font-size: 20px;
  position: relative;
  padding-left: 60px;
  font-weight: bold;
}

.notification-text::before{
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("/images/notification-bell.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.notification-link{
  padding: 8px 8px 8px 15px ;
  background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
}
